
html, body {
    font: 100%/1.5 Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    height: 100vh;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    height: calc(100vh - 64px);
}

.start-button {
    widows: 250px;
}

.true .mat-raised-button {
   background-color: #8bc34a;
}

.false .mat-raised-button {
   background-color: #f44336;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}